
<section id="about-us">
  <h3>Sobre Nosotros</h3>
  <article class="history-info">
    <p> ASECON es una empresa liderada por un dúo de arquitéctos experimentados y dedicados. Cada uno de ellos cuenta con más de 20 años en el rubro y brindan un servicio excepcional.</p>
    
    <p class="texts">Nos especializamos en la creación y ejecución de proyectos arquitectónicos, asegurando cada detalle para transformar ideas en espacios funcionales y estéticamente atractivos.</p>
    
    <p class="texts">Nuestra metodología se basa en la colaboración, cuando aseguramos un proyecto, reclutamos equipos de profesionales capacitados.</p>
    <p class="texts">Garantizando la correcta realización de cada construcción. Desde ingenieros hasta expertos en diseño.</p>
    <p>Trabajamos juntos para superar las expectativas de nuestro clientes.</p>
    
  </article>
  <article class="future">
  
    <h2 class="second-title">TU FUTURO ESTA AQUÍ</h2>
    <h4 class="second-title">Construcción al servicio</h4>
  
  </article>

</section>

<style>

  h2{
    color: var(--white-color);
    background-color: transparent;
    padding-top: 200px;
    /* margin: 0; */

  }

  h3 {
    font-size: 34px;
    text-align: center;
    font-weight: 400;
    padding-top: 50px;
    color: var(--downriver-700);
  }

  h4 {
    color: var(--white-color);
    font-size: 28px;
    font-weight: 400;
    background-color: transparent;
    padding: 0;
    height: auto;
  }

  .history-info {
    width: 75ch;
    margin: 50px auto;
    padding: 10px;

  }

  p {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
  }

  h3::after {
    content: " ";
    display: block;
    margin: 10px auto;
    background-color: var(--downriver-700);
    width:600px;
    height: 4px;
    border-radius: 4px;
  }

  .texts::before, .texts::after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    margin: 10px auto;
    /* align-items: center;
    justify-content: center; */
    background-color: var(--downriver-600);
    border-radius: 50%;
  }

  .future {
    background-image: linear-gradient(rgba(46, 45, 45, 0.6), rgba(13, 87, 129, 0.6)), url(https://images.pexels.com/photos/323781/pexels-photo-323781.jpeg?auto=compress&cs=tinysrgb&w=1200&h=750&dpr=1);
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 16/9;
    object-fit: cover;
    background-size: cover;
  }

</style>